.filename {
    position : absolute;
	z-index : 10;
	bottom : 50px;
    right : 30px;
}

.command {
	position : absolute;
	z-index : 10;
	top : 20px;
    right : 30px;
    background-color: beige !important;
}

.command > .button {
    z-index : 100;
    opacity: 0.8;
}

.command > .button > i {
	z-index : 100;
}