.filename {
    position : absolute;
	z-index : 10;
	bottom : 70px;
    right : 30px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.command {
	position : absolute;
	z-index : 10;
	top : 20px;
    right : 30px;
    background-color: beige !important;
}

.command > .button {
    z-index : 100;
    opacity: 0.8;
}

.command > .button > i {
	z-index : 100;
}